---
layout: default
metaTitle: ""
metaDesc: Transformation & Growth through Self-Awareness
avatarImage: /static/uploads/portrait-main-headshot-background-removed.png
title: “What Do You Have To Offer The World?"
subTitle: The world needs your unique talents, gifts, and brilliance. I help you
  reconnect with yourself, so you can consciously choose the life you truly want
  to live.
heroImage: /static/uploads/img_0161.jpeg
collageHeading: ""
testimonialsTitle: What people say
path: home
collageSummary: ""
collageImage: ""
howIHelpTitle: Services
aboutTitle: About me
aboutImage: /static/uploads/about-image.jpg
aboutLinkText: Read more about Claudia
aboutLinkUrl: /about-me
contactSummary: A book for curious and courageous individuals who are committed
  to changing their lives. Be the first to know.
contactImage: /static/uploads/contact-image.jpg
contactLinkText: Subscribe
permalink: /en/
testimonialsToShow: 3
contactLinkUrl: https://solarpoweredcollective.substack.com/p/what-do-you-have-to-offer-the-world
servicesToShow: 3
subtitle: Rewire your mind, reclaim your power, and rewrite your story — to
  create a life rooted in joy, presence, and limitless possibility, through 1:1
  Coaching & Mentoring
aboutSummary: >-
  I created this soul-led business to turn decades of personal growth into deep,
  meaningful transformation for others.


  After years immersed in personal development, it wasn't until my mid-40s that everything clicked. The breakthroughs came... and they changed everything! I only wish I had discovered this sooner.


  Now, it’s my mission to help others reconnect with their unique talents, gifts, and passions – the essence of who they really are. 


  These are not fixed or set in stone. As you walk your path with awareness, your purpose keeps unfolding, while you enjoy the journey.
contactTitle: “What Do You Have To Offer The World?" is out this Spring!
locale: en
---

<div>  
	{% include "partials/hero--home.html" %}

  {% if collageHeading %}
    <section class="pt-8 md:pt-12 lg:pt-16">
      <div class="container mx-auto">
          <h2 class="font-medium">{{collageHeading}}</h2>

          <p class="mt-4">{{ collageSummary | markdown | safe }}</p>

          <img src="{{collageImage}}" alt="" class="mt-8 w-full h-auto object-cover rounded-lg shadow-lg">
      </div>
    </section>
  {% endif %}
	
	{% include "partials/services.html" %}
	{% include "partials/testimonials.html" %}
	{% include "partials/about.html" %}
	{% include "partials/contact.html" %}
</div>
