---
heroImage: /static/uploads/collage.jpg
layout: default
metaTitle: My approach
metaDesc: Reconnect with yourself to create lasting change
title: My Approach
subTitle: Reconnect with Yourself to create lasting change
bannerImage: /static/uploads/copy-of-clau-de-carlo-icon-titles.png
summary: >-
  Everything begins with the relationship you have with yourself. 


  My method integrates insights from psychology, neuroscience, behavioural science, mindfulness, and therapeutic tools to guide you on a transformative journey. Together, we explore, redefine, and dissolve limiting beliefs and patterns, moving toward a more fulfilling life.


  At the core of my work are 4 main pillars, supported by 5 additional concepts that ensure holistic growth.
pillarsHeading: The 4 Core Pillars
pillars:
  - text: Feel
    description: Emotions are the gateway to understanding. By allowing yourself to
      fully experience them, we uncover the hidden limitations that hold you
      back. Your feelings offer important clues to areas needing growth and
      healing.
    icon: feel
  - text: Heal
    description: Once we identify the root cause of those emotions, I’ll guide you
      to nurture your inner self, helping you release old narratives and
      limiting beliefs. This process lessens the emotional grip they once had,
      allowing you to grow and move forward with more freedom and clarity.
    icon: heal
  - text: Balance
    description: Effective change happens through a mix of movement and stillness.
      Incorporating physical exercise, even something as simple as walking,
      together with mindfulness and meditation (even for the ones that believe
      they don’t have time), helps ground the body and mind. We’ll work to
      create harmony between action and reflection, allowing for steady,
      sustainable progress that feels natural over time.
    icon: balance
  - text: Transform
    description: As you integrate these practices, you’ll align more closely with
      your own values and deeper "Why." This leads to healthier choices in your
      career, relationships, and overall wellbeing - a transformation into the
      most authentic, empowered version of yourself.
    icon: transform
conceptsHeading: The 5 Supporting Concepts
concepts:
  - text: Learn
    description: Every challenge is an opportunity to deepen your self-understanding
      and expand your knowledge. A step forward to freedom.
  - text: Harmony
    description: We aim to create balance in all aspects of life, leading to inner
      peace and a sense of well-being.
  - text: Rise
    description: As you heal and grow, you rise into a more resilient and empowered
      version of yourself.
  - text: Connect
    description: Building deeper connections with yourself and others fosters a
      richer, more meaningful life.
  - text: Grow
    description: At every stage, we focus on nurturing continuous growth, both
      personally and professionally.
showContactForm: true
subtitle: Reconnect with Yourself to create lasting change
locale: en
---

<div class="container mx-auto">
  {% include "partials/hero.html" %}

  <div>{{ summary | markdown | safe }}</div>

  <section class="py-6">
    <h2>{{ pillarsHeading }}</h2>

    <ul class="grid gap-4 md:grid-cols-2 md:gap-6 js-pillars">
      {% for pillar in pillars %}
        <li class="rounded-xl card-shadow p-6 lg:pr-44 overflow-hidden relative pillar-card">
          <div class="relative z-10">
            <h3>{{ pillar.text }}</h3>

            {{ pillar.description | markdown | safe }}
          </div>

          <img src="/static/uploads/{{ pillar.icon }}.svg" width="250" class="absolute bottom-0 right-0 translate-x-1/3 object-cover hidden lg:block lg:opacity-0 {% if loop.index == 4 %}w-[320px]{% endif %} js-pillar-decoration" alt="" eleventy:ignore>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="pt-6">
    <h2>{{ conceptsHeading }}</h2>

    <ol class="flex flex-col flex-wrap gap-8 lg:flex-row lg:gap-4  concept-list">
      {% for concept in concepts %}
        <li class="mb-4 flex-1 flex-shrink-0">
          <h3>{{ concept.text }}</h3>
          <p class="mb-0">{{ concept.description }}</p>
        </li>
      {% endfor %}
    </ol>
  </section>
</div>
