---
layout: default
metaTitle: ""
metaDesc: Transformación y crecimiento a través del autoconocimiento
avatarImage: /static/uploads/portrait-main-headshot-background-removed.png
title: "“Qué Tenés Para Darle al Mundo?” "
subTitle: El mundo necesita tus talentos, tus dones y tu brillo únicos. Te
  acompaño a reconectar con vos, para que puedas elegir conscientemente la vida
  que realmente quieres vivir.
heroImage: /static/uploads/img_0161.jpeg
collageHeading: ""
testimonialsTitle: Testimonios
path: home
collageSummary: ""
collageImage: ""
howIHelpTitle: Servicios
aboutTitle: Sobre mí
aboutImage: /static/uploads/about-image.jpg
aboutLinkText: Leer más sobre Claudia
aboutLinkUrl: /es/about-me
contactSummary: >-
  Un libro para personas curiosas y valientes, comprometidas con transformar sus
  vidas.


  Sé de las primeras personas en enterarte.
contactImage: /static/uploads/contact-image.jpg
contactLinkText: Suscribirme
permalink: /es/
testimonialsToShow: 3
contactLinkUrl: https://solarpoweredcollective.substack.com/p/what-do-you-have-to-offer-the-world
servicesToShow: 3
subtitle: Reconfigura tu mente, recupera tu poder y reescribe tu historia para
  crear una vida basada en la alegría, la presencia y posibilidades ilimitadas a
  través de Coaching y Mentoría 1:1.
aboutSummary: >-
  Creé este negocio guiado por el alma para transformar décadas de crecimiento
  personal en una transformación profunda y significativa para otras personas.


  Después de muchos años inmersa en el desarrollo personal, no fue hasta mis cuarenta y tantos donde sentí que todo se rompía, y ahí fue que en realidad todo empezó a encajar. Llegó la claridad… y lo cambió todo. Ojalá lo hubiera descubierto antes.


  Hoy, mi misión es acompañar a otros a reconectar con sus talentos, sus dones y sus pasiones únicas – al conectar con la esencia de quienes realmente son. Nada de esto es estático o definitivo. A medida que vas andando tu camino consciencia, tu propósito sigue desplegándose, mientras disfrutas del viaje.
contactTitle: Mi libro “Qué Tenés Para Ofrecerle al Mundo?” saldrá muy pronto!
locale: es
---

<div>  
	{% include "partials/hero--home.html" %}

  {% if collageHeading %}
    <section class="pt-8 md:pt-12 lg:pt-16">
      <div class="container mx-auto">
          <h2 class="font-medium">{{collageHeading}}</h2>

          <p class="mt-4">{{ collageSummary | markdown | safe }}</p>

          <img src="{{collageImage}}" alt="" class="mt-8 w-full h-auto object-cover rounded-lg shadow-lg">
      </div>
    </section>
  {% endif %}
	
	{% include "partials/services.html" %}
	{% include "partials/testimonials.html" %}
	{% include "partials/about.html" %}
	{% include "partials/contact.html" %}
</div>
