---
layout: default
metaTitle: ""
metaDesc: Transformación y crecimiento a través del autoconocimiento
avatarImage: /static/uploads/portrait-main-headshot-background-removed.png
title: El cambio empieza contigo
subTitle: Reentrena tu mente, reclama tu poder y reescribe tu historia.
  Construye una vida con más alegría, más presencia y posibilidades sin límites,
  a través del Coaching & Mentoring
heroImage: /static/uploads/home-hero.jpg
collageHeading: ""
testimonialsTitle: Lo que dice la gente
path: home
collageSummary: ""
collageImage: ""
howIHelpTitle: Servicios
aboutTitle: Sobre mí
aboutImage: /static/uploads/about-image.jpg
aboutLinkText: Leer más sobre Claudia
aboutLinkUrl: /es/about-me
contactSummary: >-
  El cambio significativo no ocurre solo. Si te comprometes a generar un impacto
  positivo, aquí estoy para acompañarte.


  Charlemos.
contactImage: /static/uploads/contact-image.jpg
contactLinkText: Escríbeme
permalink: /es/
testimonialsToShow: 3
contactLinkUrl: mailto:hello@claudiadecarlo.com
servicesToShow: 3
subtitle: Reconfigura tu mente, recupera tu poder y reescribe tu historia para
  crear una vida basada en la alegría, la presencia y posibilidades ilimitadas a
  través de Coaching y Mentoría 1:1.
aboutSummary: >-
  Decidí crear este proyecto con alma para poner al servicio de otros las
  décadas que llevo dedicadas al crecimiento personal. Mi propósito es guiar a
  quienes quieran atravesar sus propias transformaciones profundas y poderosas.


  Después de años sumergida en mi propio proceso, fue recién en la mitad de mis 40 cuando todo encajó. Las revelaciones llegaron… y lo cambiaron todo.


  Hoy comparto lo que me hubiera gustado saber antes, de forma honesta y directa, y desde la experiencia real.


  Mi misión es acompañar a otros a construir la relación más importante de todas: la que tienen consigo mismos.


  Porque cuando eso cambia, todo cambia.
contactTitle: " Contáctame"
locale: es
---

<div>  
	{% include "partials/hero--home.html" %}

  {% if collageHeading %}
    <section class="pt-8 md:pt-12 lg:pt-16">
      <div class="container mx-auto">
          <h2 class="font-medium">{{collageHeading}}</h2>

          <p class="mt-4">{{ collageSummary | markdown | safe }}</p>

          <img src="{{collageImage}}" alt="" class="mt-8 w-full h-auto object-cover rounded-lg shadow-lg">
      </div>
    </section>
  {% endif %}
	
	{% include "partials/services.html" %}
	{% include "partials/testimonials.html" %}
	{% include "partials/about.html" %}
	{% include "partials/contact.html" %}
</div>
