---
heroImage: /static/uploads/collage.jpg
layout: default
metaTitle: Mi enfoque
metaDesc: Reconéctate contigo mismo para crear un cambio duradero
title: Mi enfoque
subTitle: Reconéctate contigo mismo para crear un cambio duradero
bannerImage: /static/uploads/collage.jpg
summary: >-
  Todo comienza con la relación que tenemos con nosotros mismos.


  Mi método integra perspectivas de la psicología, la neurociencia, las ciencias del comportamiento humano, la atención plena y herramientas terapéuticas, para acompañarte en un viaje transformador.


  Juntos exploramos, redefinimos y disolvemos creencias y patrones limitantes, avanzando hacia una vida más plena.


  En el centro de mi trabajo hay 4 pilares principales, respaldados por 5 conceptos adicionales que aseguran un proceso de crecimiento integral y sostenible.
pillarsHeading: Los 4 pilares fundamentales
pillars:
  - text: Sentir
    description: >-
      Las emociones son la puerta de entrada a la comprensión.

      Cuando te permites experimentarlas plenamente, revelan las limitaciones ocultas que te frenan.

      Tus sentimientos son pistas valiosas: señalan las áreas que necesitan atención, crecimiento y sanación.
    icon: feel
  - text: Sanar
    description: >-
      Una vez que identifiquemos la raíz de esas emociones, te acompañaré a
      nutrir tu mundo interior, ayudándote a liberar las viejas narrativas y
      creencias que te limitan. 


      Este proceso reduce el poder que esas emociones ejercían sobre ti, permitiéndote avanzar con mayor libertad, claridad y confianza.
    icon: heal
  - text: Balance
    description: >-
      Un cambio efectivo se logra combinando movimiento y quietud. Incorporar
      ejercicio físico, incluso algo tan sencillo como caminar, junto con
      prácticas de mindfulness y meditación —aunque creas que no tienes tiempo—
      te ayudará a conectar cuerpo y mente.


      Trabajaremos para crear una armonía real entre la acción y la reflexión, permitiendo un progreso constante y sostenible, que con el tiempo se sienta natural.
    icon: balance
  - text: Transformar
    description: >-
      Al integrar estas prácticas, te conectarás con tus propios valores y con
      un "porqué" más profundo. Esto te permitirá tomar decisiones más alineadas
      y saludables en tu carrera, tus relaciones y tu bienestar general.


      Es un camino de transformación hacia la versión más auténtica y empoderada de ti mismo.
    icon: transform
conceptsHeading: Los 5 conceptos de apoyo
concepts:
  - text: Aprender
    description: Cada desafío es una oportunidad para profundizar en tu
      autocomprensión y expandir tu conocimiento. Así es como avanzas hacia una
      libertad real.
  - text: Armonía
    description: Nuestro objetivo es crear equilibrio en todos los aspectos de la
      vida, conduciendo a la paz interior y a una sensación de bienestar.
  - text: Elevar
    description: A medida que sanas y creces, te conviertes en una versión más
      resiliente y empoderada de ti mismo.
  - text: Conectar
    description: Establecer conexiones más profundas con uno mismo y con los demás
      fomenta una vida más rica y significativa.
  - text: Crecer
    description: En cada etapa, nos centramos en fomentar el crecimiento continuo,
      tanto personal como profesional.
showContactForm: true
locale: es
---

<div class="container mx-auto">
  {% include "partials/hero.html" %}

  <div>{{ summary | markdown | safe }}</div>

  <section class="py-6">
    <h2>{{ pillarsHeading }}</h2>

    <ul class="grid gap-4 md:grid-cols-2 md:gap-6 js-pillars">
      {% for pillar in pillars %}
        <li class="rounded-xl card-shadow p-6 lg:pr-44 overflow-hidden relative pillar-card">
          <div class="relative z-10">
            <h3>{{ pillar.text }}</h3>

            {{ pillar.description | markdown | safe }}
          </div>

          <img src="/static/uploads/{{ pillar.icon }}.svg" width="250" class="absolute bottom-0 right-0 translate-x-1/3 object-cover hidden lg:block lg:opacity-0 {% if loop.index == 4 %}w-[320px]{% endif %} js-pillar-decoration" alt="" eleventy:ignore>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="pt-6">
    <h2>{{ conceptsHeading }}</h2>

    <ol class="flex flex-col flex-wrap gap-8 lg:flex-row lg:gap-4  concept-list">
      {% for concept in concepts %}
        <li class="mb-4 flex-1 flex-shrink-0">
          <h3>{{ concept.text }}</h3>
          <p class="mb-0">{{ concept.description }}</p>
        </li>
      {% endfor %}
    </ol>
  </section>
</div>
