---
metaTitle: ""
metaDesc: Transformation & Growth Through Self-Awareness
avatarImage: /static/img/1747215352004.jpeg
title: Change starts with you
subtitle: Rewrite. Rewire. Realign. Transformative sessions.
heroImage: /static/img/homepage-hero.jpg
servicesToShow: 3
testimonialsTitle: What people say ghfghfghgf
path: home
layout: default
howIHelpTitle: How I help
testimonialsToShow: 3
aboutTitle: About me
aboutSummary: >-
  I started this business to turn decades of personal growth into powerful
  transformation for others.




  After years immersed in personal development, it wasn't until my mid-40s that everything clicked. The breakthroughs came... and they changed everything! I only wish I had known sooner.




  Now it's my mission to help others build the most important relationship of all: the one with themselves.




  Because when that shifts - everything does ✨
aboutImage: /static/img/about-image.jpg
aboutLinkText: Find out more
aboutLinkUrl: /about-me
contactTitle: Get in touch
contactSummary: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Curabitur quis magna volutpat, mollis metus ut, bibendum lacus. Cras faucibus
  leo sed nisl tincidunt, eget sagittis ligula tincidunt. Nulla sit amet
  ultrices neque.
contactImage: /static/img/contact-image.jpg
contactLinkText: hello@claudiadecarlo.com
contactLinkUrl: mailto:hello@claudiadecarlo.com
---

<div>
	{% include "./_includes/partials/hero--home.html" %}
	
	{% include "./_includes/partials/services.html" %}
	{% include "./_includes/partials/testimonials.html" %}
	{% include "./_includes/partials/about.html" %}
	{% include "./_includes/partials/contact.html" %}
</div>