---
metaTitle: ""
metaDesc: Transformation & Growth Through Self-Awareness
avatarImage: /static/img/1747215352004.jpeg
title: Change your story. Change your life.
subtitle: Rewrite. Rewire. Realign. Transformative sessions.
heroImage: /static/img/homepage-hero.jpg
servicesToShow: 3
testimonialsTitle: What people say
path: home
layout: default
howIHelpTitle: How I help
testimonialsToShow: 3
aboutTitle: About me
aboutSummary: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
  quis magna volutpat, mollis metus ut, bibendum lacus. Cras faucibus leo sed
  nisl tincidunt, eget sagittis ligula tincidunt. Nulla sit amet ultrices neque.
aboutImage: /static/img/about-image.jpg
aboutLinkText: Find out more
aboutLinkUrl: /about
contactTitle: Get in touch
contactSummary: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Curabitur quis magna volutpat, mollis metus ut, bibendum lacus. Cras faucibus
  leo sed nisl tincidunt, eget sagittis ligula tincidunt. Nulla sit amet
  ultrices neque.
contactImage: /static/img/contact-image.jpg
contactLinkText: hello@claudiadecarlo.com
contactLinkUrl: mailto:hello@claudiadecarlo.com
---

<div>
	{% include "./_includes/partials/hero--home.html" %}
	
	{% include "./_includes/partials/services.html" %}
	{% include "./_includes/partials/testimonials.html" %}
	{% include "./_includes/partials/about.html" %}
	{% include "./_includes/partials/contact.html" %}
</div>