---
layout: default
metaTitle: ""
metaDesc: Transformation & Growth through Self-Awareness
avatarImage: /static/uploads/portrait-main-headshot-background-removed.png
title: Change starts with You
subtitle: Rewire your mind, reclaim your power, and rewrite your story — to
  create a life rooted in joy, presence, and limitless possibility, through 1:1
  Coaching & Mentoring
heroImage: /static/uploads/home-hero.jpg
collageHeading: ""
testimonialsTitle: What people say
path: home
collageSummary: ""
collageImage: ""
howIHelpTitle: Services
aboutTitle: About me
aboutSummary: >-
  I started this business to turn decades of personal growth into powerful
  transformation for others.


  After years immersed in personal development, it wasn't until my mid-40s that everything clicked. The breakthroughs came... and they changed everything! I only wish I had known sooner.


  Now it's my mission to help others build the most important relationship of all: the one with themselves.


  Because when that shifts - everything does
aboutImage: /static/uploads/about-image.jpg
aboutLinkText: Read more about Claudia
aboutLinkUrl: /about-me
contactTitle: Get in touch
contactSummary: Committed to creating a positive impact for individuals,
  organisations, and/or communities? Let's chat to drive meaningful change.
contactLinkText: hello@claudiadecarlo.com
testimonialsToShow: 3
contactLinkUrl: mailto:hello@claudiadecarlo.com
servicesToShow: 3
contactImage: /static/uploads/contact-image.jpg
---

<div>  
	{% include "./_includes/partials/hero--home.html" %}

  {% if collageHeading %}
    <section class="pt-8 md:pt-12 lg:pt-16">
      <div class="container mx-auto">
          <h2 class="font-medium">{{collageHeading}}</h2>

          <p class="mt-4">{{ collageSummary | markdown | safe }}</p>

          <img src="{{collageImage}}" alt="" class="mt-8 w-full h-auto object-cover rounded-lg shadow-lg">
      </div>
    </section>
  {% endif %}
	
	{% include "./_includes/partials/services.html" %}
	{% include "./_includes/partials/testimonials.html" %}
	{% include "./_includes/partials/about.html" %}
	{% include "./_includes/partials/contact.html" %}
</div>
