<section class="py-6 md:py-12">
    <div class="container mx-auto md:flex gap-11">
        <div class="md:max-w-1/4">
            <h2 class="md:mb-10">{{ aboutTitle }}</h2>
            {{ aboutSummary | markdown | safe }}
            <a href="{{ aboutLinkUrl }}">{{ aboutLinkText }}</a>
        </div>

        {% if aboutImage %}
            <div class="mt-5 md:mt-0 md:w-3/4">
                <img src="{{ aboutImage }}" alt="" class="w-full rounded-lg image-shadow" loading="lazy">
            </div>
        {% endif %}
    </div>
</section>