<section class="py-10">
    <div class="container mx-auto md:flex gap-11">
        <div class="md:max-w-1/4">
            <h2 class="mb-10">{{aboutTitle}}</h2>
            <p>{{aboutSummary}}</p>
            <a href="{{aboutLinkUrl}}">{{aboutLinkText}}</a>
        </div>

        {% if aboutImage %}
            <div class="md:w-3/4">
                <img src="{{aboutImage}}" alt="" class="w-full rounded-lg image-shadow" loading="lazy">
            </div>
        {% endif %}
    </div>
</section>