<section class="pt-8 md:pt-12">
    <div class="container mx-auto flex flex-col md:flex-row">
        {% if contactImage %}
            <div class="order-2 mt-5 md:mt-0 md:order-1 md:max-w-[625px]">
                <img src="{{contactImage}}" alt="" class="w-full rounded-lg" loading="lazy">
            </div>
        {% endif %}

        <div class="order-1 md:order-2">
            <h2 class="font-medium text-brand-purple md:mb-6 md:text-5xl">{{contactTitle}}</h2>
            <p class="text-pretty">{{contactSummary}}</p>
            <a href="{{contactLinkUrl}}" class="focus-visible:outline-brand-purple btn">{{contactLinkText}}</a>
        </div>
    </div>
</section>