<footer class="w-full py-6 md:py-12">
    <div class="container mx-auto text-center">
        <a href="/" class="mx-auto inline-block">
            <img src="./static/img/logo.png" class="max-w-56" alt="Claudia de Carlo">
        </a>
        
        {% include "partials/social.html" %}

        {% if footerNavigation.footerItems %}
            <ul class="inline-flex gap-4 items-center mx-auto mt-9">
                {% for item in footerNavigation.footerItems %}
                    <li>
                        <a @click="isOpen = false" href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</footer>
