<footer class="w-full py-8 md:py-12">
    <div class="container mx-auto relative text-center">
        <a href="/" class="mx-auto inline-block">
            {% include "partials/logo.html" %}
        </a>

        <img src="/static/img/plant.png" class="hidden md:block absolute -bottom-12 right-0 w-1/3 md:w-1/4" alt="">
        
        {% include "partials/social.html" %}

        {% if footerNavigation.footerItems %}
            <ul class="inline-flex gap-4 items-center mx-auto mt-9">
                {% for item in footerNavigation.footerItems %}
                    <li>
                        <a @click="isOpen = false" href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <p class="mt-4 mb-0 text-sm">Claudia De Carlo {{ currentYear }} &copy; All rights reserved</p>
    </div>
</footer>
