<footer class="w-full py-6 md:py-12 overflow-visible">
    <div class="container mx-auto text-center bg-[url('/static/img/plant.png')] bg-no-repeat bg-right-bottom overflow-visible">
        <a href="/" class="mx-auto inline-block">
            <img src="/static/img/logo.png" class="max-w-48 md:max-w-52" alt="Claudia de Carlo">
        </a>
        
        {% include "partials/social.html" %}

        {% if footerNavigation.footerItems %}
            <ul class="inline-flex gap-4 items-center mx-auto mt-9">
                {% for item in footerNavigation.footerItems %}
                    <li>
                        <a @click="isOpen = false" href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</footer>
