<section class="pb-4 md:pb-0">
    <div class="container mx-auto flex flex-col gap-11 md:flex-row md:justify-between">
        <div class="text-center md:max-w-[600px] flex-shrink-0 md:mt-12">
            <div class="relative">
                <img src="/static/uploads/avatar-icon.png" alt="" class="absolute bottom-0 -z-10 left-[51%] max-w-[240px] opacity-50 -translate-x-1/2">
                <img src="{{avatarImage}}" alt="" class="rounded-full w-32 h-32 mt-8 mb-4 mx-auto md:mt-0 object-cover" loading="eager" fetchpriority="high">
            </div>
            <h1 class="leading-[1.125]">{{title}}</h1>
            <h2 class="text-2xl text-brand-purple">{{subtitle}}</h2>
            {% include "partials/social.html" %}
        </div>
        
        {% if heroImage %}
            <div class="lg:w-[625px]">
                <img src="{{heroImage}}" width="625" alt="" class="object-cover w-full rounded-lg image-shadow max-h-[700px]" loading="eager" fetchpriority="high">
            </div>
        {% endif %}
    </div>
</section>