<header class="w-full container mx-auto">
    <nav class="flex items-center justify-center lg:justify-between flex-wrap py-6" x-data="{ isOpen: false }" @keydown.escape="isOpen = false"  @click.away="isOpen = false" aria-label="Main">
        <div class="flex items-center">
            <a href="/">
                {% include "partials/logo.html" %}
            </a>
        </div>

        <button @click="isOpen = !isOpen" type="button" class="ml-auto rounded-full flex justify-center items-center bg-brand-red w-11 h-11 lg:hidden" :class="{ 'transition transform-180': isOpen }" :aria-expanded="isOpen" aria-controls="main-nav">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" aria-hidden="true" focusable="false" fill="#fff">
                <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd"
                    d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
                <path x-show="!isOpen" fill-rule="evenodd"
                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
            <span class="sr-only" x-text="isOpen ? 'Close navigation' : 'Open navigation'"></span>
        </button>

        <div class="w-full flex-grow lg:flex lg:items-center lg:justify-end lg:w-auto lg:gap-12" :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" x-show.transition="true" id="main-nav">
            {% if headerNavigation.headerItems %}
                <ul class="pt-6 lg:pt-0 flex flex-1 gap-6 md:gap-8 items-center justify-between lg:justify-end">
                    {% for item in headerNavigation.headerItems %}
                        {% set currentUrl = page.url | stripTrailingSlash %}
                        {% set navUrl = item.url | stripTrailingSlash %}                  

                        <li>
                            <a
                                @click="isOpen = false"
                                href="{{ item.url }}"
                                class="no-underline font-display text-lg hover:underline underline-offset-2 decoration-2 hover:text-brand-red {% if currentUrl == navUrl %}text-brand-red underline underline-offset-2 decoration-2{% else %}text-brand-purple{% endif %}"
                                aria-current="{% if currentUrl == navUrl %}page{% endif %}"
                            >{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <a href="mailto:{{ siteSettings.email }}" class="mt-4 flex items-center font-medium justify-center md:justify-start gap-1.5 ml-auto hover:underline lg:mt-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="40" height="27" aria-hidden="true" focusable="false" fill="var(--color-brand-purple)"><path d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376l0 103.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"/></svg>
                {{ siteSettings.email }}
            </a>
        </div>
    </nav>
</header>
