<section class="py-8">
    <div class="container mx-auto">
        <div class="p-6 lg:p-11 bg-brand-yellow/25 rounded-lg card-shadow">
            <h2 class="font-medium text-brand-purple md:text-5xl">{{ settings.contactFormHeading }}</h2>

            <div class="max-w-[85ch] wysiwyg">
                {{ settings.contactFormSummary | markdown | safe }}
            </div>

            <form class="mt-4 lg:max-w-3/4" action="/{{ locale }}/success-contact" method="POST" netlify name="quickContact-{{ locale }}" data-netlify-honeypot="bot-field">
                <input type="hidden" name="quickContact-{{ locale }}" value="quickContact-{{ locale }}" />

                <div hidden>
                    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                </div>

                <div class="flex flex-col md:flex-row gap-6 mb-6">
                    <div class="flex-1">
                        <label for="firstName" class="font-bold text-lg mb-2.5 block">{{ settings.contactFormFirstNameLabel }}</label>
                        <input type="text" id="firstName" name="firstName" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required>
                    </div>

                    <div class="flex-1">
                        <label for="surname" class="font-bold text-lg mb-2.5 block">{{ settings.contactFormLastNameLabel }}</label>
                        <input type="text" id="surname" name="surname" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6 mb-6">
                    <div class="flex-1">
                        <label for="email" class="font-bold text-lg mb-2.5 block">{{ settings.contactFormEmailLabel }}</label>
                        <input type="email" id="email" name="email" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" autocomplete="email" required>
                    </div>

                    <div class="flex-1">
                        <label for="phoneNumber" class="font-bold text-lg mb-2.5 block">{{ settings.contactFormTelephoneLabel }}</label>
                        <input type="tel" inputmode="tel" pattern="^\+?[0-9\s\-().]{7,}$" id="phoneNumber" name="phoneNumber" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" autocomplete="tel" required>
                    </div>
                </div>

                <div class="my-6 w-full">
                    <label for="message" class="font-bold text-lg mb-2.5 block">{{ settings.contactFormMessageLabel }}</label>
                    <p class="my-2">{{ settings.contactFormMessageHelper }}</p>
                    <textarea rows="4" id="message" name="message" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required></textarea>
                </div>

                <div class="flex-col md:flex-row gap-4 mt-4 items-start">
                    <div class="flex gap-2 relative">
                        <input type="checkbox" name="privacy" class="w-9 h-9 border-3 border-brand-purple rounded-lg" id="privacy" required>

                        {% if locale == 'es' %}
                            <label class="pl-1 py-1 font-medium" for="privacy">Al enviar este formulario, aceptas nuestra <a href="/es/privacy-policy">política de privacidad</a></label>
                        {% else %}
                            <label class="pl-1 py-1 font-medium" for="privacy">By submitting this form, you agree to our <a href="/en/privacy-policy">privacy policy</a></label>
                        {% endif %}
                    </div>

                    <button type="submit" class="mt-6 btn min-h-[50px] w-full md:max-w-max focus-visible:outline-brand-purple">{{ settings.contactFormButton }}</button>
                </div>
            </form>
        </div>
    </div>
</section>