<section class="pb-8 md:pb-12">
    <div class="container mx-auto">
        <div class="p-6 lg:p-11 bg-brand-yellow/25 rounded-lg card-shadow">
            <h2 class="font-medium">{{ siteSettings.contactFormHeading }}</h2>

            <div class="max-w-[85ch] wysiwyg">
                {{ siteSettings.contactFormSummary | markdown | safe }}
            </div>

            <form class="mt-4 max-w-3/4" action="/success" method="POST" netlify name="quickContact" data-netlify-honeypot="bot-field">
                <input type="hidden" name="form-name" value="subscribe" />

                <div hidden>
                    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                </div>

                <div class="flex gap-6 mb-6">
                    <div class="flex-1">
                        <label for="firstName" class="font-bold text-lg mb-2.5 block">First name</label>
                        <input type="text" id="firstName" name="firstName" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required>
                    </div>

                    <div class="flex-1">
                        <label for="surname" class="font-bold text-lg mb-2.5 block">Surname</label>
                        <input type="text" id="surname" name="surname" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required>
                    </div>
                </div>

                <div class="flex gap-6 mb-6">
                    <div class="flex-1">
                        <label for="email" class="font-bold text-lg mb-2.5 block">Email address</label>
                        <input type="email" id="email" name="email" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" autocomplete="email" required>
                    </div>

                    <div class="flex-1">
                        <label for="phoneNumber" class="font-bold text-lg mb-2.5 block">Phone number</label>
                        <input type="tel" inputmode="tel" pattern="^\+?[0-9\s\-().]{7,}$" id="phoneNumber" name="phoneNumber" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" autocomplete="tel" required>
                    </div>
                </div>

                <div class="my-6 w-full">
                    <label for="message" class="font-bold text-lg mb-2.5 block">How do you feel I may be able to help?</label>
                    <p class="my-2">You don't need to go into full detail here, just a brief description is fine.</p>
                    <textarea rows="4" id="message" name="message" class="w-full flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required></textarea>
                </div>

                <div class="flex-col md:flex-row gap-4 mt-4 items-start">
                    <div class="flex gap-2 relative">
                        <input type="checkbox" name="privacy" class="w-9 h-9 border-3 border-brand-purple rounded-lg" id="privacy" required>
                        <label class="pl-1 py-1 font-medium" for="privacy">By submitting this form, you agree to our <a href="/privacy-policy">privacy policy</a></label>
                    </div>

                    <button type="submit" class="mt-6 btn min-h-[50px] w-full md:max-w-max focus-visible:outline-brand-purple">{{ siteSettings.contactFormButton }}</button>
                </div>
            </form>
        </div>
    </div>
</section>