<article class="rounded-lg border border-brand-purple/25 overflow-hidden h-full flex flex-col">
    <img src="{{ service.data.cardImage }}" alt="" class="w-full h-56 object-cover" loading="lazy" />
  
    <div class="p-6 flex flex-col flex-1 min-w-0">
      <h3 class="mb-4 text-balance">{{ service.data.title }}</h3>
      <div class="leading-[1.45]">{{ service.data.summary | markdown | safe }}</div>
        
      {% if service.data.showLink %}
        <a href="{{ service.data.linkUrl or service.url }}" class="btn btn-primary outline-brand-purple inline-flex mt-auto ml-auto max-w-max">
          {% if service.data.linkText %}
            {{ service.data.linkText }}
          {% else %}
            Find out more <span class="sr-only">about {{ service.data.title }}</span>
          {% endif %}
        </a>
      {% endif %}
    </div>
</article>
  