
{% if collections.services | length < 4 %}
  {% set scrollPromptClass = 'lg:hidden' %}
{% else %}
  {% set scrollPromptClass = '' %}
{% endif %}

<section class="py-8 md:py-12 lg:py-16 overflow-x-hidden relative">
    <div class="container mx-auto">
        <h2 class="font-medium">{{howIHelpTitle}}</h2>

        <div class="px-2 md:px-11 mt-12 splide" aria-label="Services Slider" data-splide='{ "autoHeight": true, "updateOnMove": true, "perPage": 3, "gap": "3rem", "breakpoints": { "1023": { "perPage": 1 } } }''>
            <div class="splide__track">
                <ul class="md:mt-8 splide__list">
                    {% for service in collections.services | reverse %}
                        <li class="splide__slide">
                            {% include "partials/serviceCard.html" %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>