
{% if collections.services | length < 4 %}
  {% set scrollPromptClass = 'lg:hidden' %}
{% else %}
  {% set scrollPromptClass = '' %}
{% endif %}

<section class="py-8 md:py-12 lg:py-16 overflow-x-hidden relative">
    <div class="container mx-auto">
        <h2 class="font-medium">{{howIHelpTitle}}</h2>

        <div class="overflow-x-auto snap-x snap-mandatory">
            <ul class="grid lg:grid-cols-3 gap-4 md:gap-12">
                {% for service in collections.services | reverse %}
                    <li class="snap-start">
                        {% include "partials/serviceCard.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>