<section class="py-6 md:pt-12">
    <div class="container mx-auto">
        <div class="p-6 lg:p-11 bg-brand-yellow/25 rounded-lg">
            <h2>{{ siteSettings.subscribeHeading }}</h2>

            <div class="max-w-[85ch]">
                {{ siteSettings.subscribeSummary | markdown | safe }}
            </div>

            <form class="mt-4" method="POST" netlify name="subscribe" data-netlify-honeypot="bot-field">
                <!-- Hidden input that lets Netlify detect the form -->
                <input type="hidden" name="form-name" value="subscribe" />

                <!-- Honeypot field (hidden from users) -->
                <p hidden>
                    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                </p>

                <div>
                    <label for="email" class="font-bold text-lg mb-2.5 block">Email address</label>
                </div>

                <div class="flex flex-col md:flex-row gap-4">
                    <input type="email" id="email" name="email" class="lg:max-w-[400px] flex-1 p-2.5 rounded-lg bg-white border-3 border-brand-purple" required>

                    <button type="submit" class="btn">{{ siteSettings.subscribeButton }}</button>
                </div>
            </form>
        </div>
    </div>
</section>