<section class="py-6 md:py-12 bg-brand-red text-white">
    <div class="container mx-auto">
        <h2 class="text-white">{{testimonialsTitle}}</h2>

        <div class="overflow-x-auto snap-x snap-mandatory">
            <ul class="flex gap-12 md:mt-16">
                {% for testimonial in collections.testimonials %}
                    <li class="snap-center md:snap-start">
                        {% include "partials/testimonialCard.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>