{% set orderedTestimonials = collections.testimonials | sort(attribute='data.order') %}

<section class="py-8 md:py-16 bg-[url('/static/uploads/pattern.webp')] bg-brand-purple-light">
    <div class="container mx-auto">
        <h2 class="font-medium text-brand-purple md:text-5xl">{{testimonialsTitle}}</h2>

        <div class="px-2 md:px-11 mt-12 splide" data-splide='{ "autoHeight": true, "updateOnMove": true, "perPage": 2, "gap": "3rem", "breakpoints": { "1023": { "perPage": 1 } } }'>
            <div class="splide__track">
                <ul class="md:mt-8 splide__list">
                    {% for testimonial in orderedTestimonials %}
                        <li class="splide__slide">
                            {% include "partials/testimonialCard.html" %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>