<figure class="min-w-80 md:min-w-[360px]">
    <figcaption class="mb-6">
        <div class="flex items-center gap-8 just">
            <p class="text-xl font-display m-0">
                <span class="block">{{ testimonial.data.testimonialAuthor }}</span>

                {% if testimonial.data.testimonialAuthorLocation %}
                    <span>{{ testimonial.data.testimonialAuthorLocation }}</span>
                {% endif %}
            </p>

            {% if testimonial.data.testimonialAuthorImage %}
                <img src="{{ testimonial.data.testimonialAuthorImage }}" height="100" width="100" alt="{{ testimonial.data.testimonialAuthor }}" class="w-16 h-16 rounded-full object-cover image-shadow" loading="lazy">
            {% endif %}
        </div>
    </figcaption>

    <blockquote class="text-lg leading-[1.45]">
        {{ testimonial.data.quote | markdown | safe }}
    </blockquote>

    {% if testimonial.data.showStory %}
        <a href="{{ testimonial.url }}" class="btn mt-6">
            Read success story <span class="sr-only">for {{ testimonial.data.testimonialAuthor }}</span>
        </a>
    {% endif %}
</figure>
